.home {
  margin: 3em auto;
  max-width: 1120px;
  font-family: "Noto Sans", sans-serif;
}

#home-title {
  background-image: url(../../assets/home_group.png);
  background-size: contain;
  background-repeat: no-repeat;
  max-width: 1120px;
  /* height: 500px; */
}

#home-title header {
  padding-top: 13vh;
  font-size: 65px;
  font-weight: 900;
  letter-spacing: -5px;
  line-height: 75px;
}

#home-title-bottom {
  padding-top: 10vh;
  line-height: 2.5em;
  font-size: 17px;
}

.highlighted {
  background-color: #c1f5bc;
  color: #0826ff;
  font-weight: 600;
}

#home-view-list {
  display: flex;
  margin: 3em 0;
  justify-content: space-around;
  align-items: center;
}

#home-view-list div {
  width: 350px;
  text-align: center;
  font-size: 14px;
}

#home-view-list div button {
  margin-top: 20px;
  background-color: #3d52ff;
  color: white;
  border: none;
  border-radius: 10px;
  padding: 10px 20px;
  font-size: 10px;
  font-weight: bold;
  letter-spacing: 1px;
  text-transform: uppercase;
  transition: all 250ms ease-in-out;
}

#home-view-list div button:hover {
  background-color: #3d50ff70;
  color: #3d52ff;
  transition: all 250ms ease-in-out;
}

@media (max-width: 768px) {
  .home {
    background-image: url(../../assets/home-small.png);
    background-size: 105%;
    margin: 0 auto;
    background-repeat: no-repeat;
  }
  .home header {
    text-align: center;
  }
  #home-title {
    background-image: none;
    padding-top: 20vh;
  }
  #home-title header {
    font-size: 55px;
    padding-top: 400px;
  }

  #home-title-bottom {
    text-align: center;
    font-size: 14px;
  }
  #home-view-list {
    flex-direction: column;
    gap: 3em;
  }
}
