.post-form-container {
  padding: 2em;
}

.create-post {
  max-width: 1000px;
  margin: 3em auto;
  background-color: whitesmoke;
  padding: 2em;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  gap: 10px;
  font-family: "Noto Sans", sans-serif;
  border-radius: 20px;
  box-shadow: 4px 4px 3px rgb(0 0 0 / 10%);
}

.create-post input,
.create-post select {
  border: none;
  padding: 15px;
  border-radius: 10px;
  font-size: 14px;
}

.create-post header {
  font-family: "Rubik", sans-serif;
  font-weight: 800;
  font-size: 30px;
  color: #3d53ff;
  width: 100%;
}

#toast-ui-editor {
  width: 100%;
}

.post-form-top {
  display: flex;
  width: 100%;
}

#form-title {
  width: 50%;
  margin-right: 10px;
}

#form-looking-for {
  padding: 12px;
  margin-right: 10px;
}

#form-skills {
  flex-grow: 1;
}

#form-submit {
  background-color: #3d53ff;
  color: white;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 800;
  padding: 10px 20px;
  float: right;
}

@media (max-width: 768px) {
  .post-form-top {
    flex-direction: column;
  }
  .post-form-top input {
    margin: 1em 0;
  }
  #form-title {
    width: 100%;
    margin-right: 0;
  }
  #form-looking-for {
    margin-right: 0;
  }
}
