.comments-container {
  margin-top: 1em;
}

.comment {
  margin: 1em 0;
  background-color: whitesmoke;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  padding: 20px;
}

.comment-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 5px;
  padding-bottom: 5px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

#comment-username-date {
  display: flex;
  align-items: center;
  gap: 10px;
}

#comment-username {
  font-size: 12px;
  color: #3d53ff;
  font-weight: 700;
}

#comment-created_at {
  font-size: 10px;
  color: #a3a3a3;
}

#comment-content {
  font-size: 14px;
}

.comment-edit-del-btn {
  display: flex;
  gap: 10px;
  font-size: 14px;
  color: rgba(0, 0, 0, 0.7);
}

.comment-edit-del-btn i:hover {
  cursor: pointer;
  color: #3d53ff;
}
