.navbar {
  background-color: #3d53ff;
  justify-content: space-around;
}

#navbar-logo {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#logo-header {
  display: flex;
  gap: 20px;
}

#navbar-witme {
  font-family: "Rubik", sans-serif;
  font-weight: 800;
  font-size: 45px;
  color: white;
}

#navbar-menu a {
  margin: 0 15px;
  color: #b4bbff;
  font-size: 15px;
  transition: all 100ms ease-in-out;
}

#navbar-menu a:hover {
  color: white;
  transition: all 100ms ease-in-out;
}

.navbar button {
  background-color: white;
  color: #3d53ff;
  border: none;
  border-radius: 10px;
  font-size: 9px;
  padding: 5px 10px;
  transition: all 250ms ease-in-out;
  text-transform: uppercase;
}

.navbar button:hover {
  background-color: #ffffff5b;
  color: white;
  transition: all 250ms ease-in-out;
}

.navbar a {
  text-decoration: none;
}

.navbar,
.navbar button {
  font-family: "Rubik", sans-serif;
  font-weight: 500;
}

#navbar-username {
  font-family: "Rubik", sans-serif;
  font-weight: 500;
  color: white;
}

.navbar-nav {
  width: 100%;
  justify-content: end;
  align-items: center;
}

.navbar-logo-tabs {
  width: 75vw;
  display: flex;
}

.navbar-user {
  display: flex;
  gap: 1em;
}

#navbar-menu .active {
  color: white;
}

@media (min-width: 992px) {
  .navbar-user {
    align-items: center;
    width: 15vw;
    justify-content: flex-end;
  }
}
@media (max-width: 992px) {
  #navbar-logo,
  .navbar-user {
    padding: 0 3em;
  }
  .navbar > button {
    order: -1;
  }
  .navbar-logo-tabs {
    flex-direction: column;
    width: 100vw;
  }
  #nav-toggle-button {
    background: transparent;
    color: white;
    height: 50px;
  }
  .navbar-nav > * {
    width: 100%;
    padding: 1em 3em;
    transition: all 100ms ease-in-out;
  }
  .navbar-nav a:hover {
    transition: all 100ms ease-in-out;
    background-color: rgba(255, 255, 255, 0.5);
  }
  .navbar-user {
    width: 100%;
  }
}
