.navbar {
  background-color: #0826ff;
  padding: 10px 5em;
}

#navbar-logo {
  display: flex;
}

#navbar-witme {
  font-family: "Rubik", sans-serif;
  font-weight: 800;
  font-size: 45px;
  color: white;
}

#navbar a {
  color: white;
  text-decoration: none;
  font-family: "Rubik", sans-serif;
  font-weight: 500;
  font-size: 15px;
  text-transform: uppercase;
  margin: 0 15px;
}

.navbar-nav {
  align-items: center;
  width: 100%;
  justify-content: end;
}
